<h2>The Soler System</h2>

    <nav class="navbar navbar-expand-lg bg-body-tertiary m-0" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="/planet?planetName=Mercury">Mercury</a>
        <a class="nav-link" href="/planet?planetName=Venus">Venus</a>
        <a class="nav-link" href="/planet?planetName=Earth">Earth</a>
      </div>
    </div>
  </div>
</nav>

<h2></h2>
<%= planetInfo.description%>
<br>
<img src="<%= planetInfo.image %>" width="300"> 