<!DOCTYPE html>
<html lang="en">


<head>
    <%- include("partials/header.ejs") %>
</head>

<body>
    <%- include("partials/nav.ejs") %>
    <img src="<%= randomImage %>" width="400">
    

    <%- include("partials/footer.ejs") %>
</body>

</html>


    
</body>
</html>